LABEL s3rl
TEXT HELP
Boot the S3RLINUX v2 RAVE ISO on BIOS.
It allows you to use S3RLINUX v2 or perform system maintenance.
ENDTEXT
MENU LABEL S3RLINUX v2 RAVE ISO (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL s3rlspeech
TEXT HELP
Boot the S3RLINUX v2 RAVE ISO on BIOS with speakup screen reader.
It allows you to use S3RLINUX v2 or perform system maintenance with speech feedback.
ENDTEXT
MENU LABEL S3RLINUX v2 RAVE ISO (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on